body {
  font-family: 'Helvetica';
  margin: 0;
}

a {
  text-decoration: none;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    &.btn-small {
      padding: .175rem .45rem
    }
    &.btn-primary {
      color: #fff;
      background-color: #007bff;
      border-color: #007bff;
      &:hover {
        color: #fff;
        background-color: #0069d9;
        border-color: #0062cc;
      }
    }
    &.btn-edit {
      color: #fff;
      background-color: #17a2b8;
      border-color: #17a2b8;
      &:hover {
        color: #fff;
        background-color: #138496;
        border-color: #117a8b;
      }
    }
    &.btn-delete {
      color: #fff;
      background-color: #dc3545;
      border-color: #dc3545;
      &:hover {
        color: #fff;
        background-color: #c82333;
        border-color: #bd2130;
      }
    }
}

.wrapper {
  width: 60%;
  margin: 0 auto;
  padding: 15px 0px;
  .top {
    text-align: right;
    margin-bottom: 20px;
  }
}

.form-people {
  button {
    margin-right: 10px;
  }
  .back {
    color: #17a2b8;
  }
  .field {
    display: block;
    margin: 10px 0px;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    label {
      display: block;
    }
    input {
      padding: 10px;
      width: 100%;
    }
  }
}

table {
  width: 100%;
  text-align: left;
  tr {
    background-color: #f9f9f9;
    td {
      padding: 5px;
    }
    th {
      padding: 5px;
    }
  }
  .btn-delete {
    margin-left: 10px;
  }
}
